@charset "UTF-8";
.main-title {
    line-height: 30px;
}
/*商品图片部分开始*/
.product {
    margin-bottom: 50px;
}
.p-pic-wrap {
    width: 420px;
    height: 531px;
    margin-bottom: 5px;
    overflow: hidden;
    position: relative;
}
.p-pic-wrap ul {
    position: absolute;
    left: 0;
    top: 0;
}
.p-pic-wrap li {
    width: 420px;
    float: left;
    position: relative;
}
.p-pic-wrap .little-wrap, .p-pic-wrap .big-wrap {
    width: 420px;
    height: 531px;
    position: relative;
}
.p-pic-wrap .big-wrap {
    display: none;
}
.p-pic-wrap .shelter {
    /*z-index: 20;*/
    position: absolute;
    width: 160px;
    height: 201px;
    left: 0;
    top: 0;
    /*background: rgba(255,0,0,.2);*/
}
.p-pic-wrap .little-wrap img {
    width: 420px;
}
.p-pic-slide {
    position: relative;
    width: 420px;
    height: 80px;
    overflow: hidden;
}
.p-pic-slide ul { width: 426px; }
.p-pic-slide li {
    float: left;
    width: 62px;
    height: 78px;
    border: 1px solid #f2f2f2;
    cursor: pointer;
    margin-right: 7px;
}
.p-pic-slide li:hover {
    border-color: #f10180;
}
/*商品图片部分结束*/

/*商品信息部分开始*/
.product-info{
    width: 550px;
    height: 634px;
}
.p-info {
    width: 550px;
    height: 538px;
}
.p-info-title .groes-text {
    line-height: 22px;
}
.p-info-title .groes-text span {
    float: left;
}
.p-info-title .groes-text p {
    float: right;
    padding: 0 5px 0 13px;
    line-height: 22px;
    background: #333;
    color: #FFF;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.p-info-title h2 {
    font: 700 16px/20px "simsun";
    color: #333;
    margin: 8px 0;
}
.p-info-title p {
    color: #999;
}

.price-box {
    height: 96px;
    background: #faf5f8;
    margin: 10px 0;
    padding-bottom: 5px;
    position: relative;
}
.price-box .price {
    color: #f43499;
    font: normal 48px/1.2 arial;
    margin: 13px 0 0 20px;
    display: inline-block;
    /*float: left;*/
}
.price-box .price i {
    font-size: 20px;
    margin-right: -14px;
}
.price-box .price em {
    font-weight: 400;
}
.price-box .scale {
    display: inline-block;
    margin-top: 24px;
    position: relative;
    vertical-align: top;
}
.price-box .scale i {
    color: #f43499;
    text-align: center;
    padding: 0 5px;
    margin: 0 16px 0 8px;
    border: 1px solid #f43499;
    border-radius: 3px;
    display: block;
    position: relative;
}
.price-box .scale del {
    font-size: 14px;
    padding: 0 20px 0 10px;
}
.price-box .text {
    margin: 0 20px;
}
.price-box .text i {
    width: 62px;
    height: 18px;
    line-height: 18px;
    float: left;
    text-align: center;
    background: #f3b241;
    color: #FFF;
    margin-right: 5px;
}
.price-box .text span {
    color: #333;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.info-attr dl {
    position: relative;
}
.info-attr dt {
    width: 40px;
    color: #999;
    float: left;
}
.info-attr dd {
    float: left;
}
.info-attr .freight {
    line-height: 30px;
}
.info-attr .freight dt {
    text-align: left;
    line-height: 32px;
}
.info-attr .freight dd span{
    line-height: 32px;
}
.info-attr .freight dd span em {
    height: 18px;
    padding: 0 2px;
    background: #f3b241;
    color: #FFF;
    line-height: 16px;
    margin-right: 10px;
}
.info-attr .size dd {
    width: 375px;
    position: relative;
}
.info-attr .size dd li {
    width: 52px;
    height: 26px;
    padding: 0 10px;
    text-align: center;
    line-height: 26px;
    border: 1px solid #ccc;
    margin: 0 10px 10px 0;
    float: left;
    position: relative;
}
.info-attr .size .none {
    background: #d9d9d9;
    color: #999;
}
.info-attr .num {
    line-height: 30px;
}
.info-attr .num dd {
    width: 76px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    border: 1px solid #ccc;
}
.info-attr .num span {
    display: block;
    float: left;
    width: 24px;
    font-size: 22px;
}
.info-attr .num .num-reduce {
    background: #f2f2f2;
    color: #cccccc;
}
.info-attr .num .num-add {
    background: #f5f3f6;
    color: #8b8b8b;
}
.info-attr .num em {
    width: 28px;
    float: left;
    font-size: 16px;
}
.info-attr .btn {
    clear: both;
    height: 46px;
    margin: 20px 0 12px 40px;
    position: relative;
}
.info-attr .btn button {
    width: 198px;
    height: 46px;
    background: #f20783;
    color: #FFF;
    border-radius: 3px;
}
.info-attr .vip-money {
    margin-left: 40px;
    color: #999;
}
.info-attr .vip-money span {
    color: #f20783;
    padding: 0 2px;
}
.info-attr .vip-money em {
    display: inline-block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    line-height: 14px;
    text-align: center;
    border: 1px solid #999;
    margin: 0 6px;
}
.other-text {
    padding-top: 10px;
    border-top: 1px dashed #e6e6e6;
}
.other-text ul {
    width: 611px;
    padding: 9px 0;
}
.other-text li {
    float: left;
}
.other-text li i {
    width: 35px;
    height: 35px;
    display: block;
    float: left;
    font: normal 26px/35px "arial";
    text-align: center;
    background: #bcb7ba;
    color: #FFF;
    border-radius: 50%;
}
.other-text li a {
    line-height: 35px;
    font-size: 14px;
    margin: 0 20px;
    color: #999;
}
/*商品信息部分结束*/

/*商品详情部分开始*/
/*商品详情页tab栏部分开始*/
.detail-title {
    height: 36px;
    border: 1px solid #e7e7e7;
    border-bottom: 3px solid #000;
}
.detail-title li {
    height: 36px;
    float: left;
    line-height: 36px;
    text-align: center;
    margin-left: -1px;
}
.detail-title li a {
    display: block;
    padding: 0 14px;
    font-size: 14px;
    color: #333;
    border-left: 1px solid #e7e7e7;
}
.detail-title li a:hover{
    color: #f10180;
    border-bottom: 3px solid #f10180;
}
/*商品详情页tab栏部分结束*/

/*商品详情页图片展示部分开始*/
.detail-img-title {
    height: 30px;
    line-height: 30px;
    background: url(../images/detial_line.png) repeat-x left bottom;
    padding: 0 0 6px 20px;
    position: relative;
}
.detail-img-title h3 {
    font-size: 20px;
    color: #f10180;
    position: relative;
}
.detail-img-title h3 span {
    color: #999;
    position: relative;
    bottom: -2px;
}
.img-show {
    padding: 20px 0;
    text-align: center;
}
/*商品详情页图片展示部分结束*/

/*商品推荐部分开始*/
.recommend {
    border-bottom: 2px solid #f64eb0;
}
.recommend h2 {
    background: #eae8eb;
    line-height: 45px;
    padding-left: 15px;
    color: #333;
}
.recommend .turn {
    padding: 20px;
    color: #666;
    font-family: '\5FAE\8F6F\96C5\9ED1';
}
.recommend .turn p {
    font: 700 14px/20px '\5FAE\8F6F\96C5\9ED1';
}
.recommend .turn .turn-num {
    overflow: hidden;
}
.recommend .turn .turn-num a, .recommend .turn .turn-num ul {
    display: block;
    float: left;
}
.recommend .turn .turn-num li, .recommend .turn .turn-num a {
    float: left;
    width: 18px;
    text-align: center;
    line-height: 22px;
    padding: 0 2px;
    border: 1px solid #b8b8b8;
    margin: 0 3px 0 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    cursor: pointer;
}
.recommend .turn li:hover, .recommend .turn .turn-num a:hover{
    color: #de3083;
    border-color: #f995c5;
}
.recommend .turn .turn-current, .recommend .turn li.turn-current:hover {
    background-color: #f22a80;
    border-color: #cd2a78;
    color: #FFF;
}
.recommend .list {
    height: 295px;
    margin-left: 20px;
    overflow: hidden;
    position: relative;
}
.recommend .list .list-ul {
    height: 295px;
    overflow: hidden;
    position: absolute;
    left: 0;
}
.recommend .list .list-ul ul {
    width: 980px;
    float: left;
}
.recommend .list li {
    float: left;
    margin-right: 20px;
    width: 176px;
    height: 295px;
    position: relative;
}
.recommend .list a{
    position: relative;
}
.recommend .list .list-img {
    width: 176px;
    height: 222px;
    overflow: hidden;
}
.recommend .list a img {
    width: 176px;
    height: 222px;
    position: relative;
}
.recommend .list .content {
    line-height: 16px;
}
.recommend .list .content .text {
    line-height: 18px;
    padding-top: 6px;
}
.recommend .list .content p span {
    color: #f10180;
}
.recommend .list .content .price {
    font-size: 16px;
    font-weight: 700;
}
.recommend .nav-wrap {
    height: 46px;
    text-align: center;
}
.recommend .nav-wrap a {
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    border: 1px solid #828282;
    margin-right: 10px;
    font-size: 20px;
}
.recommend .nav-wrap a:hover {
    color: #f10180;
    border: 1px solid #f10180;
}
.recommend .nav-wrap .nav-left{
    
}
/*商品推荐部分结束*/

/*商品详情部分结束*/