@charset "UTF-8";
body, html { height: 100%; }
/*顶部导航开始*/
.top-nav {
    background: #F5F5F5;
    height: 28px;
    line-height: 28px;
}
.top-nav-left-block {
     height: 28px;
    padding: 0 15px;
    width: 57px;
    position: relative;
    cursor: pointer;
 }

 .zz-iconfont {
    display: block;
     position: absolute;
     right: 10px;
     top: 2px;
}
.box .arr-border{
    width: 87px;
}

.top-nav-left-none .box {
    padding: 10px 20px 0 20px;
    width: 257px;
}
.top-nav-left-none .box th {
    width: 30px;
}
.top-nav-left-none .box td a {
    padding: 0 3px;
}
.top-nav-left-none .box p {
    font: 900 12px "simsun";
    height: 20px;
    border-bottom: 1px dashed #ccc;
}
.top-nav-right li{
    float: left;
    padding: 0 15px;
    position: relative;
}
.top-nav-right .line {
    width: 1px;
    height: 10px;
    background-color: #ccc;
    margin-top: 10px;
    padding: 0;
}
.top-nav-right .line-width{
    padding-right: 25px;
}
.top-nav-right .tel {
    background: url("../images/header.png") no-repeat
    -100px -150px;
    width: 10px;
    height: 14px;
    position: absolute;
    right: 10px;
    top: 7px;
}
/*顶部导航结束*/
/*顶部隐藏部分开始*/
.line-width .shoucang {

    padding: 10px 10px 15px 20px;

}
.line-width .shoucang .arr-border {
    width: 88px;
}
.line-width .shoucang a {
    display: block;
    height: 40px;
    line-height: 40px;
    width: 120px;
}
.login {
    width: 260px;
    padding: 20px;
}
.login .arr-border {
    width: 66px;
}
.box-top .login-tu {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: url("../images/header.png") no-repeat
    0 -185px;
    vertical-align: middle;
}
.box-top a {
    display: inline-block;
    height: 40px;
    line-height: 40px;
    width: 180px;
    padding-left: 10px;
    border-bottom: 1px dotted #ccc;

}
.box-bottom {
    margin-top: 10px;
}
.box-bottom a {
    float: left;
    width: 125px;
    height: 30px;
    line-height: 30px;
}
.lucky .arr-border {
    width: 100px;
}
.lucky {
    width: 100px;
}
.lucky a {
    display: block;
    padding: 10px;
    height: 18px;
    line-height: 18px;
    text-align: center;
}
.help  {
    width: 88px;
}
.help .arr-border {
    width: 88px;
}
.help a {
    display: block;
    padding: 10px;
    height: 18px;
    line-height: 18px;
    text-align: center;
}
.ewm .arr-border {
    width: 76px;
    left: 105px;
}
.join {
    width: 240px;
    padding: 15px;
    line-height: 30px;
    left: -208px;
}
.join a {
    margin-right: 5px;

}
.join h5 {
    font: 700 14px 'microsoft yahei'
}
.join .join-top {
    width: 240px;
    height: 60px;
    border-bottom: 1px dotted #c0c0c0;
    margin-bottom: 10px;
}
.join .arr-border {
    width: 63px;
    left: 207px;
}
/*顶部隐藏部分*/
/*LOGO部分开始*/
.top-logo {
    position: relative;

    height: 100px;
}
.top-logo .logo {
    width: 125px;
    height: 50px;
    background: url("../images/header.png") no-repeat
-175px 0;
    position: absolute;
    top: 30px;
    left: 0px;
    text-indent: -9999px
}
.top-logo .icon {
    position: absolute;
    right: 150px;
    top: 30px;
}
.top-logo .icon1,.icon2,.icon3 {
    width: 110px;
    height: 40px;
    padding: 0 10px;
    background: url("../images/header.png") no-repeat
-150px -55px;
    float: left;
}
.top-logo .icon2 {
    background: url("../images/header.png") no-repeat
    -150px -105px;
}
.top-logo .icon3 {
    width: 115px;
    background: url("../images/header.png") no-repeat
    -150px -155px;
}
.top-logo-buy {
    position: absolute;
    right: 0;
    top: 30px;
    width: 136px;
    height: 54px;
    line-height: 30px;
    padding: 10px;
    cursor: pointer;
}
.top-logo-buy-blcok .car {
    float: left;
    width: 14px;
    height: 21px;
    background: url("../images/header.png") no-repeat
0 -59px;
    margin-right: 20px;
}
.top-logo-buy-blcok .number {
    position: absolute;
    top: 2px;
    right: 115px;
    background: #F10180;
    width: 24px;
    height: 16px;
    border-radius: 10px;
    text-align: center;
    line-height: 16px;
}
.top-logo-buy-blcok .number b {
    color: #fff;
}
/*LOGO部分结束*/

/*中间主要导航部分开始*/
.main-nav {
    height: 40px;
    background: #F10180;
    position: relative;
}
.main-nav li {
    float: left;
    position: relative;
}
.main-nav li a {
    display: block;
    height: 40px;
    padding: 0 14px;
    font: 500 16px/40px "microsoft yahei";
    color: #ffffff;
}
.main-nav .more {
    padding-right: 20px;
}
.main-nav .more .zz-iconfont {
    right:0px;
}
.main-nav .bgc:hover {
    background-color: #db0a76;
}
.main-nav .current {
    background-color: #db0a76;
}
.main-nav .notice,.main-nav .classify {
    float: right;
}
.main-nav .notice a,.main-nav .classify a{
    padding: 0 20px;
}
.main-nav .notice img ,.main-nav .classify img {
    margin-right: 6px;
    margin-top: -3px;
    vertical-align: middle;
}
/*中间主要导航部分结束*/
/*中间banner部分开始*/
.banner-big {
    width: 100%;
    height: 500px;
    background: url("../images/big-banner.jpg") no-repeat center top;
    position: relative;
    padding-top: 30px;

}
.main-banner {
    width: 976px;
    height: 380px;
    padding: 12px 12px 0 12px;
    /*overflow: hidden;*/
    background: rgba(255,255,255,.86);
    margin: 0 auto;
    position: relative;
    box-shadow: 0 1px 3px rgba(167,167,167,.4);
}
.main-hide {
    width: 976px;
    height: 380px;
    position: relative;
    overflow: hidden;
}
.main-banner img {
    width: 976px;
    height: 340px;
    position: absolute;
    /*float: left;*/
}

.main-banner .lbt li {
    float: left;
    margin-right: 12px;
}
.main-banner .square {
    position: absolute;
   bottom: 0;
}
 .square li {
    float: left;
    width: 195px;
    height: 40px;
    background: #ffffff;
    line-height: 40px;
    text-align: center;
     /*position: absolute;*/
     /*bottom: 0;*/
     position: relative;
     top: 0;
     cursor: pointer;

}
.bottom-line {
    width: 195px;
    height: 3px;
    background-color: #e6057d;
    position: absolute;
    bottom: 0px;
}
.square .line {
    width: 1px;
    height: 15px;
    background-color: #ccc;
    padding: 0;
    position: absolute;
    right: 0px;
    top: 15px;
    /*z-index: 10; */
}
.arr span{
    width:40px;
    height:60px;
    position:absolute;
    left:-42px;
    top:50%;
    margin-top:-20px;
    background:rgba(0,0,0,.3);
    cursor:pointer;
    line-height:60px;
    text-align:center;
    font-weight:bold;
    font-family:'黑体';
    font-size:30px;
    color:#ccc;
    /*opacity:0.3;*/
    border:1px solid #fff;
    z-index: 10;
}

.arr .right{right:-42px; left:auto;}
.right:hover,.left:hover {
    color: #fff;
}
.fixed {
    position: fixed;
    width: 100%;
    z-index: 20;
}
.very-more-box {
    position: absolute;
    top: 40px;
    right: 0;
    padding:26px 10px 11px 26px;
    z-index: 10;
    width: 575px;
    height: 225px;
    z-index: 5;
    background: #ffffff;
    display: none;
}

.very-more .very-more-box a {
    width: 170px;
    float: left;
    height: 95px;
    padding: 10px 0 0 10px;
    margin: 0 10px 10px 0;
    position: relative;
    overflow: hidden;
    
}
.very-more-box img {
    border-radius: 10px;
}
.very-more-box .show-down p{
    height: 30px;
    line-height: 30px;
    font-weight: 700;
    color: #fff;
    font-size: 18px;
    position: absolute;
    bottom: 10px;
    text-align: center;
    width: 170px;
    z-index: 6;
}

.very-more-box .shadow {
    position: absolute;
    top: 45px;
    width: 170px;
    height: 96px;
    z-index: 5;
    background: linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,.9) 100%);

}
/*中间banner部分结束*/

/*精选部分开始*/
.jingxuan{
    padding-top: 22px;
}
.jingxuan .jx .jx1 {
    width: 490px;
    height: 300px;
    margin-bottom: 13px;
    position: relative;
}
.mask{
    cursor: pointer;
    position: relative;
}
.cont{
    width: 448px;
    height: 258px;
    position: absolute;
    top: 20px;
    left: 20px;
    display: none;
    opacity: 0.1;
    background-color: #FFFFFF;
    border-radius: 3px;
}
.cont .cont-t{
    height: 174px;
    padding: 14px 25px 10px 30px;
    border-bottom: 1px dotted  #333333 ;
}
.cont .cont-t img{
    width: 121px;
    height: 153px;
    display: block;
    float: left;
    cursor: pointer;
}
.cont .cont-t p{
    float: left;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 0 0 30px;
}
.cont .cont-t .c1{
    margin: 0px 15px;
}
.cont .cont-t .c2{
    margin: 0px 58px;
}
.cont .cont-b img{
    height: 60px;
    cursor: pointer;
    margin-left: 30px;
    margin-right: 22px;
}
.cont .cont-b .brand{
    display: inline-block;
    width: 83px;
    text-align: center;
    line-height: 20px;
    height: 20px;
    border: 1px solid #EDEDED;
    border-radius: 10px;
    margin-right: 48px;
}
.cont .cont-b .brand:hover{
    background-color: #F10582;
    color: #FFFFFF;
}
.cont .cont-b .brand span{
    color: pink;
}
.cont .cont-b .enter{
    display: inline-block;
    width: 118px;
    height: 22px;
    text-align: center;
    line-height: 22px;
    border-radius: 3px;
    border: 1px solid #333333;
}
/*精选部分结束*/

/*女装部分开始*/
.nvzhuang{
    padding-top: 30px;
}
.nvzhuang .nz-t{
    height: 42px;
    padding-top: 2px;
    border-bottom: 1px solid #1A1A1A;
}
.nvzhuang .nz-t a{
    font-size: 14px;
    margin-top: 20px;
}
.nvzhuang .nz-t a:hover {
    color: #F12087;
}
.nvzhuang .nz-t img{
    vertical-align: middle;
}
.nvzhuang .nz-b .nz-b1{
    width: 490px;
    height: 275px;
    margin-top: 20px;
    position: relative;
}
.nvzhuang .nz-b .nz-b1 p{
    padding: 12px 0 8px 10px;
    font-size: 14px;
}
.nvzhuang .nz-b .nz-b1 p b{
    font-size: 18px;
    color: #F10582;
}
.nvzhuang .nz-b .nz-b1 .fr{
    padding: 12px 20px 12px 0;
}
.nvzhuang .nz-b .nz-b1 span i{
    font-size: 16px;
    color: #FB7FB6;
    font-weight: 900;
}
.nvzhuang .nz-b .nz-b1 .slection{
    position: absolute;
    width: 88px;
    height: 18px;
    display: none;
    text-align: center;
    line-height: 18px;
    background-color: #fff;
    border-radius: 10px;
    top: 210px;
    right: 10px;
}
.nvzhuang .nz-b .nz-b1 .slection i{
    color: #F30D82;
    font-weight: 900;
}
.nvzhuang .nz-b .nz-b1 .shade{
    width: 100%;
    height: 30px;
    position: absolute;
    bottom: 40px;
    opacity: .5;
    background-color: #333333;
}
.nvzhuang .nz-b .nz-b1 .shade-cont{
    width: 100%;
    height: 30px;
    position: absolute;
    bottom: 40px;
    color: #FFFFFF;
    padding-left: 26px;
    line-height: 30px;
}
.nvzhuang .nz-b .nz-b1 .shade-cont span{
    width: 10px;
    height: 9px;
    background: #F1B13B;
    position: absolute;
    left: 10px;
    top: 7px;
}
.nvzhuang .nz-b .nz-b1 .shade-cont span i{
    border-width: 2px 5px;
    border-style: solid;
    border-color: #F1B13B #F1B13B #8A8D8A;
    position: absolute;
    top: 9px;
    left: 0px;
}
/*女装部分结束*/

/*sidefloor部分开始*/
.current{
    background: #F10180;
    border-radius: 4px;
    color: #FFFFFF;
}
.sidefloor{
    width: 76px;
    height: 172px;
    border: 1px solid #D6D6D6;
    border-radius: 4px;
    padding: 4px;
    opacity: .8;
    filter: alpha(opacity:80);
    /*position: fixed;*/
    /*top: 85px;*/
    /*left: 65px;*/
    /*position: absolute;*/
    /*top: 500px;*/
    /*left: 65px;*/
}
.sidefloor ul{
    background-color: #fff;
}
.sidefloor ul li{
    width: 70px;
    height: 36px;
    padding: 3px;
    text-align: center;
    line-height: 36px;
    cursor: pointer;
    border-bottom: 1px solid #EAEAEA;
}
.sidefloor ul li span{
    font-size: 20px;
}
/*sidefloor部分结束*/


/*sideBar部分开始*/
.sideBar {
    color: #FFFFFF;
    width: 33px;
    height: 100%;
    position: fixed;
    right: 0;
    top: 0;
    text-align: center;
    font-size: 12px;
    background-color: #262626;
    z-index: 10;
}

.sideBar li {
    position: relative;
    cursor: pointer;
}

.sideBar .li1 {
    height: 56px;
    line-height: 28px;
    margin-top: 90px;
}

.sideBar .li2 {
    height: 141px;
    color: #FEF3F8;
    line-height: 28px;
    margin-top: 1px;
    margin-bottom: 4px;
    background-color: #DF147F;
}

.sideBar .li3 {
    height: 36px;
    line-height: 36px;
}

.sideBar .li4 {
    height: 36px;
    line-height: 36px;
}

.sideBar .li5 {
    height: 36px;
    line-height: 36px;
    top: 100px;
    right: 0;
}

.sideBar .zero {
    border-radius: 50%;
    background-color: #fff;
    color: #E4157F;
    width: 12px;
    height: 12px;
}

.sideBar .hide1 {
    width: 274px;
    height: 304px;
    border-left: 1px solid #DDDDDD;
    border-top: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
    border-radius: 2px;
    position: absolute;
    top: 0px;
    right: -275px;
    z-index: -999;
}

.sideBar .hide2 {
    width: 116px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    border-left: 1px solid #DDDDDD;
    border-top: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
    position: absolute;
    top: 0;
    font-size: 14px;
    z-index: -999;
    right: -117px;
    color: #333333;
    border-radius: 2px;
    background-color: #FFFFFF;
}

.sideBar .hide1-t {
    height: 150px;
    color: #333333;
    position: relative;
    background-color: #fff;
}

.sideBar .hide1-t img {
    margin-top: 30px;
    margin-bottom: 20px;
    border: 1px solid #DBDBEA;
}

.sideBar .hide1-t a {
    color: #F32D96;
}

.sideBar .hide1-t span {
    position: absolute;
    top: 15px;
    font-size: 20px;
    color: #817D7D;
    right: 20px;
}

.sideBar .hide1-m {
    font-size: 16px;
    padding-top: 24px;
    height: 84px;
    background-color: #F8F8F8;
    border-top: 1px solid #E5E5E5;
    border-bottom: 1px solid #E5E5E5;
}

.sideBar .hide1-b {
    height: 43px;
    color: #81C9E3;
    padding-right: 26px;
    padding-top: 1px;
    background-color: #fff;
}

.sideBar .hide1-m1 {
    width: 136px;
    height: 76px;
    border-right: 1px solid #E5E5E5;
}

.sideBar .hide1-m1 i {
    color: #C4C4C4;
}

.sideBar .hide1-m1 p {
    color: #424242;
}

.sideBar .hide1-m2 {
    margin-right: 44px;
}

.sideBar .hide1-m2 i {
    color: #C4C4C4;
}

.sideBar .hide1-m2 p {
    color: #424242;
}
/*sideBar部分结束*/

/*底部动画开始*/
.footer-move .pht1 {
    position: fixed;
    z-index: 99999;
    left: 0;
    bottom: 55px;
    width: 127px;
    height: 136px;
    overflow: hidden;
    cursor: pointer;
}

.footer-move .pht2 {
    position: fixed;
    z-index: 99998;
    left: -100%;
    bottom: 0;
    width: 100%;
    height: 171px;
    /*background-color: #051223;*/
    /*opacity: 0.9;*/
}

.footer-move .pht2 .bj {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #051223;
    opacity: 0.9;
    filter: alpha(opacity=90);
    z-index: -200;
}

.footer-move .pht2 .bj-1-pht {
    position: absolute;
    left: 180px;
    top: -20px;
}

.footer-move .pht2 .erweima {
    height: 171px;
    width: 276px;
    position: absolute;
    left: 842px;
    top: 0;
    /*background-color: #4B554C;*/
    /*opacity: 0.7;*/
}

.footer-move .pht2 .erweima-left {
    width: 116px;
    font-size: 13px;
    margin-left: 16px;
    position: relative;
    margin-top: 15px;
}

.footer-move .pht2 .erweima-right {
    width: 116px;
    font-size: 13px;
    margin-right: 16px;
    position: relative;
    margin-top: 15px;
}

.footer-move .pht2 .ma-img {
    width: 104px;
    height: 104px;
    border: 6px solid #fff;
}

.footer-move .pht2 .ma-tubiao {
    position: absolute;
    top: 70px;
    left: 38px;
    background-color: #FFFFFF;
    width: 36px;
    height: 36px;
}

.footer-move .pht2 .erweima p {
    height: 14px;
    width: 110px;
    text-align: center;
    line-height: 14px;
    color: #FFFFFF;
    margin-bottom: 10px;
}

.footer-move .pht2 span {
    position: absolute;
    top: 10px;
    right: 188px;
    font-size: 38px;
    width: 25px;
    height: 25px;
    line-height: 25px;
    color: #9aa1a8;
    cursor: pointer;
}
/*底部动画结束*/